/* FONTS */
@font-face {
    font-family: Inter;
    src: url(Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: SSans3;
    src: url(Fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

/* END FONTS */

/* HOMEPAGE */
body {
    margin: 0;
}

header {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 5px solid #ff5500;
}

header nav {
    margin-right: 2vw;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 35px;
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    float: left;
    line-height: calc(10vh + 20px);
}

nav .gstarted {
    text-decoration: underline;
    text-decoration-color: transparent;
}

header a:hover {
    color: #ff5500;
}

nav .gstarted:hover {
    text-decoration-color: #ff5500;
}

.column ul li a {
    color: white;
    font-size: 1rem;
    line-height: 2rem;

    text-decoration: none;
}


.dropdown {
    float: left;
    
  }
  
.dropdown .dropa {
    color: white;
    background-color: black;
    font-family: Inter;
    margin-left: 35px;
  }

.dropa {
    display: inline;
  }
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(255,85,0,0.2);
    z-index: 2;
    margin-top: calc(10vh + 10px);
    border-bottom: 5px solid #ff5500;
    border-left: 5px solid #ff5500;
    border-right: 5px solid #ff5500;

    translate: 0 -1.5rem;
    
    opacity: 0;
  }
  
.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0 0 0 19px;
    min-width: 160px;
    line-height: 2rem;
  }

.dropdown:hover .dropdown-content {
    display: block;

    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    opacity: 1;
    translate: 0 0rem;
  }

@keyframes fade {
    from {opacity: 0; translate: 0 -1.5rem;}
    to {opacity: 1; translate: 0 0rem;}
}
  
.dropdown:hover .dropa {
    color: #ff5500;
  }

.logo1 img {
    top: 0.7vw;
    margin-left: 2vw;
    height: 4.2vw;
    width: 4.2vw;
    position: absolute;
}

.logo1 p{
    font-family: Inter;
    font-weight: 700;
    font-size: 2vw;
    margin-left: 8vw;
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    height: 90vh;
}

.hero img {
    width: 100%;
    height: 90vh;
    filter: brightness(50%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 3.2rem;
    font-family: SSans3;
}

.hero-text button {
    background-color: rgb(255, 85, 0);
    border: none;
    padding: 15px 25px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 20px;
    font-family: Inter;
    font-weight: 700;
}

/* SERVICES */

.services {
    text-align: center;
    padding: 30px 20px;
}

.services h2 {
    font-size: 3.2rem;
    margin-bottom: 50px;
    font-family: SSans3;
}

.service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.service-card {
    background-color: rgb(255, 85, 0);
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1cap .9px 5px rgb(121, 130, 133);
    font-family: Inter;
}

.service-card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.service-card i {
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
}

/* TESTIMONIALS */
.testimonial-container {
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.testimonial-container h2 {
    margin-right:  60%;
    font-family: SSans3;
    font-size: 3.2rem;
    font-weight: bold;
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    font-family: Inter;
}

.testimonial-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.testimonial-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.testimonial-name .company {
    font-size: 14px;
    color: #777;
    font-weight: normal;
}

.testimonial-text {
    flex: 1;
    text-align: left;
    color: #555;
    margin-left: 20px;
    margin-right: 50px;
}

.testimonial-text p {
    font-style: italic;
    font-size: 1.2rem;
}

.next-arrow {
    font-size: 3rem;
    color: #ff5722;
    cursor: pointer;
}

.next-arrow span {
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.2s;
}

.next-arrow span:hover {
    transform: translateX(5px);
}

/* FOOTER */
.cta-section {
    background-color: #ff5500;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-weight: bold;
}

.cta-section h2 {
    font-size: 3rem;
    margin: 0 0 20px;
    font-family: SSans3;
}

.cta-button {
    background-color: white;
    color: #ff5722;
    padding: 15px 25px;
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Inter;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #ffe6de;
}

footer {
    background-color: #000;
    color: white;
    height: 35vh;
    width: 100%;
    position: relative;
    border-top: 3px solid #ff5500;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: Inter;
}

.footer-logo {
    display: flex;
    width: 30vw;
    height: 35vh;
    border-right: 3px solid #ff5500;
    align-items: center;
    flex-direction: column;
}

.footer-logo 
.Logo2 {
    width: 10vw ;
    height: 10vw;
    margin-top: 3vh;
}

.footer-logo p {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1vh;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.column {
    margin: 0 50px;
}

.column h4 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 5vh;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column ul li .icon {
    width: 2rem;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
}

.column ul li a {
    color: white;
    font-size: 1rem;
    line-height: 2rem;

    text-decoration: none;
    transition: color 0.3s;
}

.column ul li a:hover {
    color: #ff5722;
}

.footer-bottom {
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    font-size: 1rem;
    color: #777;
    margin: 0;
}









/* ABOUT US */

.about {
    font-family: SSans3;
}

.abt {
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw 2vw 10vw;
}

.abt img{
    display: block;
    width: 40vw;
    margin-top: 0px;
    margin-left: 3vw;
}

.abt h1{
    color: #ff5500;
    font-weight: 700;
    font-size: 4rem;
    border-bottom: 5px solid #000;
}

.abt .p {
    font-weight: bold;
    font-size: 2.5rem;
}

.abt .p p {
    margin-bottom: 10px;
}

.abt .p .subtext {
    color: rgb(255, 124, 58);
    font-size: 1.2rem;
}

.JV {
    display: flex;
    padding: 0vw 10vw 0vw 10vw;
    flex-direction: row;
    justify-content: space-between;
}

.JV img{
    display: block;
    width: 40vw;
    margin-top: 0px;
    margin-right: 5vw;
}

.JV .text h1 {
    color: #ff5500;
    font-weight: 700;
    font-size: 2.8rem;    
    margin: 0;
}

.JV .text p {
    font-family: Inter;
    font-size: 1.4rem;
    margin: 0 0 1.5rem;
}

.vmcc{
    background-color: #ff5500;
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 10vw 0 10vw;

    font-weight: 700;
    font-size: 2.8rem;
}

.vmcc .company-vmcc {

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    flex-direction: column;

    width: 25%;
}

.vmcc img {
    width: 15vw;
}

.vmcc p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1vw;
}

.ceo-section{
    background-color: #000000;
    color: white;
    padding: 5vw 5vw 0 10vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
}

.ceo-text {
    width: 55%;
}

.ceo-text h3{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.ceo-text p{
    font-family: Inter;
    font-size: 1.5rem;
    width: 85%;
    margin: 0;
}

.ceo-img {
    width: 45%;
    position: relative;
}

.ceo-img img {
    position: absolute;
    width: 30vw;
    right: 0;
    bottom: 1vw;
}

.team-section{
    background-color: #ffffff;
    padding: 0 10vw 0 10vw;
}

.team-section h3{
    margin-top: 5vh;
    font-size: 4rem;
}

.team-profile {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 5vw;
}

.team-section .team-divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-profile .person-img {
    width: 15vw;
    border-radius: 50%;
    margin-right: 3vw;
}

.person-details {
    display: flex;
    flex-direction: column;
}

.person-details p {
    margin: 0;
}

.person-details .team-name {
    color: #ff5500;
    font-weight: 700;
    font-size: 2rem;
}

.person-details .team-position {
    color: #ff5500;
    font-weight: 700;
    font-size: 1rem;
}

.person-details .team-desc {
    color: black;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}




/* SERVICES */

.service {
    font-family: SSans3;
}

.serv {
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw 0vw 10vw;
}

.serv img{
    display: block;
    width: 40vw;
    margin-top: 0px;
    margin-left: 3vw;
}

.serv h1{
    color: #ff5500;
    font-weight: 700;
    font-size: 4rem;
    border-bottom: 5px solid #000;
}

.serv .p {
    font-weight: bold;
    font-size: 2.5rem;
}

.serv .p p {
    margin-bottom: 10px;
}

.serv .p .subtext {
    color: rgb(255, 124, 58);
    font-size: 1.2rem;
}

.title-ribbon {
    background-color: #ff5500;
}

.title-ribbon h1 {
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-family: SSans3;
}

.offered-services {
    background-color: #ffffff;
    padding: 0vw 10vw 0vw 10vw;
}

.offered-service {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.offered-service img {
    width: 30%;
    margin-right: 3vw;
}

.offered-service-desc {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 5vh;
}

.offered-service-desc h2 {
    color: #ff5500;
    font-family: SSans3;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.offered-service-desc p {
    color: #000;
    font-family: Inter;
    font-size: 1.2rem;
    text-align: left;
    margin: 0 0 1rem 0;
}

.offered-service-desc a {
    color: #ff5500;
    font-family: SSans3;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}






/* GET-STARTED */

.getstarted {
    font-family: SSans3;
    margin-bottom: 10vh;
}

.gstart {
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw 0vw 10vw;
}

.gstart img{
    display: block;
    width: 35vw;
    margin-top: 5vh;
    margin-left: 3vw;
}

.gstart h1{
    color: #ff5500;
    font-weight: 700;
    font-size: 4rem;
    border-bottom: 5px solid #000;
}

.gstart .p {
    font-weight: bold;
    font-size: 2.5rem;
}

.gstart .p p {
    margin-bottom: 10px;
}

.gstart .p .subtext {
    color: rgb(255, 124, 58);
    font-size: 1.2rem;
}

.form-container {
    background-color: #ff6600;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 580px;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto auto 10vh auto;
}

.form-container h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: SSans3;
}

.form-container select {
    width: 100% !important;
}

.form-container input, .form-container select, .form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Inter;
}

.form-container input[type="submit"] {
    background-color: white;
    color: #ff6600;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    padding: 15px 25px;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: auto auto 3vh auto;
    display: block;
}

.form-container input[type="submit"]:hover {
    background-color: #ffcc99;
}

.form-container input::placeholder, .form-container textarea::placeholder {
    color: #ccc;
}
